<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="content-language" content="ja">
		<meta name="robots" content="noindex, nofollow">
		<meta name="csrf_token" value="{{ csrf_token() }}">

		<title>NOTE【{% block title %}{% endblock %}】</title>
		
		{% include "_css.html" %}
		<link rel="stylesheet" href="{{url_for('static',filename='css/_base.css')}}"/>
		
		{% block css %}{% endblock %}

		<link rel="shortcut icon"     type="image/png" href="{{url_for('static',filename='img/icon.png')}}" />
		<link rel="apple-touch-icon"  type="image/png" href="{{url_for('static',filename='img/icon.png')}}" />
		<link rel="icon"              type="image/png" href="{{url_for('static',filename='img/icon.png')}}" />

	</head>
	
	<body>
		<div class="head">{% include "_head.html" %}</div>
		<div class="body">{% block content %}{% endblock %}</div>
		<div class="foot">{% include "_foot.html" %}</div>

		{% include "_script.html" %}
		{% block script %}{% endblock %}
	</body>
</html>
