<!-- Include the Quill library -->
<script src="{{url_for('static',filename='js/_/quill.js')}}"></script>
<!-- Include the marked library -->
<script src="{{url_for('static',filename='js/_/purify.min.js')}}"></script>
<script src="{{url_for('static',filename='js/_/marked.min.js')}}"></script>

<script src="{{url_for('static',filename='js/_/util.js')}}"></script>
<script src="{{url_for('static',filename='js/_/modal.js')}}"></script>
<script src="{{url_for('static',filename='js/_/socket.io.js')}}"></script>
<script src="{{url_for('static',filename='js/_/table.js')}}"></script>
<script src="{{url_for('static',filename='js/_/request.js')}}"></script>
<script src="{{url_for('static',filename='js/_/canvas.js')}}"></script>
