{% extends "_base.html" %}
{% block css %}{% endblock %}
{% block title %}ログイン{% endblock %}

{% block content %}
    <div class="center">
        <form action="{{url_for('login')}}" method="POST">
            <input type="hidden"   name="next" value="{% if next is not none %}{{next}}{% endif %}" />
            <input type="hidden"   name="csrf_token" value="{{csrf_token()}}" />
            <input type="email"    name="email"    value="{{email}}"  placeholder="ユーザID">
            <input type="password" name="password" value="{{password}}" placeholder="パスワード">
            <input type="submit" value="ログイン">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div>サインアップがまだの方は<a href="{{url_for('signup')}}" >こちら</a>から登録してください。</div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}