{% extends "_base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/user/mypage.css')}}"/>
{% endblock %}
{% block title %}HOME{% endblock %}

{% block content %}
    <div class="center" 
        data-url-dataload="{{url_for('user.dataload',path='path')}}"
        data-url-save    ="{{url_for('user.save')}}"
    >
    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static',filename='js/_/filemanager.js')}}"></script>
    <script src="{{url_for('static',filename='js/user/mypage.js')}}"></script>
{% endblock %}